<h1>Modification des informations sur le parent d'origine</h1>

<%= render 'form', originalparent: @originalparent %>

<%= link_to 'Show', @originalparent %> |
<%= link_to 'Back', originalparents_path %>
