<h1>Modification des informations sur le parent d'origine</h1>

<%= render 'form', originalparent: @originalparent %>

<%= link_to 'Détails', @originalparent %> |
<%= link_to 'Retour', originalparents_path %>
